:root {
    --primary-color: #6699CC;
    --text-color: #36454f;
    --background-color: #f5faff;
    --logo-color: #c49b4e;
    --contact-background-color: #18191b;
    --section-background: #101214; 
    --contact-form: #0d0e10;
    --green: #1e7b1e;
    --black: #0a0502
}

body {
    padding: 0;
    margin: 0;
    background-color: #bfc1c2;
    max-width: 100%;
}

html {
    background-color: #bfc1c2;
    scroll-behavior: smooth;
}

main {
    max-width: 100%;
    width: 100%;
}

.upper {
    text-transform: uppercase;
}

#my-carousel {
    max-width: 100%;
}

.carousel-inner img {
    width: 100%;
    height: 650px;
}

.carousel-indicators .active {
    background-color: #1e7b1e !important;
}

.carousel-caption {
    top: 50%;
    transform: translateY(-50%);
    padding-top: 5%;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d; 
    font-family: 'Newsreader', serif;
    font-family: 'Open Sans', sans-serif;  
    background-color: rgba(0,0,0,0.8); 
    text-align: left;
    padding: 2rem;
    height: 50%;
    width: 50%;
    max-width: 100%;
}

.carousel-caption h1 {
    padding-bottom: 1rem;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Rubik', sans-serif;
}

.carousel-caption p {
    padding-bottom: 1rem;
    font-size: large;
    color: #B1AFAF;
}

.navbar a {
    color: var(--background-color) !important;
    font-size: larger;
    padding: 2rem 0rem;
    margin-right: .5rem;
    text-transform: uppercase;
}

.navbar a:hover {
    transform: translateY(-7%);
    transition: 70ms linear;
}

.navbar {
    background-color: #0a0502;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Rubik', sans-serif;
}

#landing {
    padding-bottom: 2rem;
    margin-top: 6rem;
}


#landing h1 {
    color: var(--background-color);
    font-weight: 500;
    font-size: 3.1rem;
}

#landing .contact {
    background-color: #1e7b1e;
    color: var(--background-color);
    padding: 10px;
    margin: 1rem 0;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Rubik', sans-serif;
}

#landing .contact:hover {
    text-decoration: none;
    background-color: #1e7b1e;
    color: var(--background-color);
    transform: scale(1.1) !important;
}

#landing .company-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10rem;
    transform: translateY(20%);
}

#landing .company-logo {
    transform: translateY(10%);
}

#landing .company-logo img{
    width: 200px; 
    height: 200px; 
    margin-bottom: 10rem;
}

.green {
    color: #1e7b1e;
}

.green:hover {
    color: #1e7b1e;
    text-decoration: none;
}

.caption .below {
    padding-top: -1rem;
}

.reviews {
    background-color: #1a1a1a;
    margin-top: -2rem;
    padding-bottom: 2rem;
}

.reviews h1 {
    padding-top: 4rem;
    padding-left: 2rem;
    color: var(--background-color);
    font-size: 2rem;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Rubik', sans-serif;
}

@-webkit-keyframes fadeInLeft {
    0% {
       opacity: 0;
       -webkit-transform: translateX(-2rem);
    }
    100% {
       opacity: 1;
       -webkit-transform: translateX(0);
    }
 }
 
 @keyframes fadeInLeft {
    0% {
       opacity: 0;
       transform: translateX(-2rem);
    }
    100% {
       opacity: 1;
       transform: translateX(0);
    }
 }
 
 .fadeInLeft {
    animation: fadeInLeft 3.5s;
    -moz-animation: fadeInLeft 3.5s; /* Firefox */
    -webkit-animation: fadeInLeft 3.5s; /* Safari and Chrome */
    -o-animation: fadeInLeft 3.5s;
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
 } 
#satisfied-customers {
    padding: 3rem 2rem;
    display: flex;
    flex-wrap: row wrap;
    justify-content: space-around;
    align-items: flex-start;
    
}

#satisfied-customers .big {
    transform: scale(1.1);
}

#satisfied-customers .my-card {
    background-color: #000000;
    background-image: linear-gradient(147deg, #000000 0%, #2c3e50 74%);
    padding: 2rem;
    color: var(--background-color);
    margin: 0 1rem;
    width: calc(33% - 10px);
    box-shadow: 0px 8px 12px rgba(0,0,0,0.35);
}

#satisfied-customers .fa-star, #satisfied-customers .fa-star-half-o, #satisfied-customers .fa-star-o{
    color: yellow;
}

.customer-name{
    color: #bfc1c2;
}

/*----- Projects styles -----*/
.gallery {
    padding-top: 3rem;
}

.project-heading {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: .5rem 5rem;
}

.project-heading a{
    color: #1a1a1a;
    font-size: 1.1rem;
}

.project-heading a:hover{
    color: #1e7b1e;
    text-decoration: none;
    transform: translateX(10%);
    transition: 70ms linear;
}

.gallery .project-heading h1 {
    font-size: 2em;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Rubik', sans-serif;
}

.projects {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 1rem;
    margin: 2rem;
    padding-top: 3rem;
    padding-bottom: 2rem;
}

.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery__item--1 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
    box-shadow: 0px 8px 12px rgba(0,0,0,0.35);
  }

.gallery__item--2 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 6;
    box-shadow: 0px 8px 12px rgba(0,0,0,0.35);
}

.gallery__item--3 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 6;
    box-shadow: 0px 8px 12px rgba(0,0,0,0.35);
}

.gallery__item--4 {
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 6;
    grid-row-end: 9;
    box-shadow: 0px 8px 12px rgba(0,0,0,0.35);
}

/*------ Contact Styles -------*/
#contact {
    background-color: var(--section-background);
    font-family: var(--body-font);
    max-width: 100vw;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Rubik', sans-serif;
}

.content {
    padding-top: 3em;
}

.content h2 {
    color: var(--background-color);
    text-align: left;
    text-transform: uppercase;
    padding-top: 3rem;
    padding-left: 15rem;
}

.contact-form {
	width: 40vw;
	margin: 0 auto;
	padding: 4em 0;
    font-size: 15px;
    opacity: .9;
}
.contact-form h2 {
	color: #FFFFFF;
	margin: 0 0 15px;
	position: relative;
    text-align: center;
    font-size: 1.5em;
}
.contact-form h2:before, .contact-form h2:after {
	content: "";
	height: 2px;
	width: 22%;
	background: var(--green);
	position: absolute;
	top: 50%;
	z-index: 2;
}	
.contact-form h2:before {
	left: 0;
}
.contact-form h2:after {
	right: 0;
}

.contact-form form {
	color: white;
	border-radius: 3px;
	margin-bottom: 15px;
	background: #0d0e10;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	padding: 30px;
}

.contact-form form input[type="text"], input[type="email"], textarea[type="text"] {
    background-color: rgba(0,0,0,0.2);
    color: var(--background-color)
}

.contact-form form input:focus, textarea[type="text"]:focus {
    background-color: rgba(0,0,0,0.2);
    color: var(--background-color);
}

input::-webkit-input-placeholder {
    color: var(--background-color);
}
     
input:-moz-placeholder { /* Firefox 18- */
    color: var(--background-color);  
}
     
input::-moz-placeholder {  /* Firefox 19+ */
    color: var(--background-color);  
}
     
input:-ms-input-placeholder {  
    color: var(--background-color);  
}

textarea::-webkit-input-placeholder {
    color: #0bf;
}
      
textarea::-moz-placeholder { /* Firefox 18- */
    color: var(--background-color);  
}
      
textarea::-moz-placeholder {  /* Firefox 19+ */
    color: var(--background-color);  
}
      
textarea::-ms-input-placeholder {
    color: var(--background-color);  
}
      
textarea::placeholder {
    color: var(--background-color);  
}

.contact-form .form-group {
    margin-bottom: 20px;
}

.contact-form .btn {        
	font-size: 16px;
	font-weight: bold;		
	min-width: 140px;
    outline: none ;
    color: var(--background-color);
    background-color: var(--green) ;
}
.contact-form .row div:first-child {
    padding-right: 10px;
}
.contact-form .row div:last-child {
	padding-left: 10px;
} 

/*------ About Us Styles --------*/
#profile {
    padding: 10rem 3rem;
    background-color: var(--section-background);
    
}

#profile h1 {
    font-size: 2rem;
    color: var(--background-color);
    padding: 3rem 10rem;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Rubik', sans-serif;
}

#profile .portfolio {
    max-width: 100%;
    width: 60%;
    text-align: center;
    display: flex;
    flex-wrap: row wrap;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    background-image: linear-gradient(147deg, #000000 0%, #2c3e50 74%);
    padding: 2.5rem;
    color: var(--background-color);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

#profile .flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: row wrap;
}

#profile .portfolio img {
    width: 225px;
    height: 225px;
    margin-right: 1.8rem;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    box-shadow: 0px 8px 12px rgba(0,0,0,0.35);
}

#profile .portfolio .bio {
    line-height: 1.7rem;
    font-family: 'Newsreader', serif;
    font-family: 'Open Sans', sans-serif;
}

#qualities {
    max-width: 100%;
    width: 100%;
    padding: 1.5rem 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)), url(../assets/bricks.jpeg);
    background-position: center;
}

#qualities .traits {
    display: flex;
    flex-wrap: row wrap;
    justify-content: space-around;
    align-items: flex-start;
    padding: 3rem 0;
    flex-shrink: 1;
    color: white;
}

#qualities .traits h2 {
    font-size: 2rem;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Rubik', sans-serif;
    text-align: center;
}

#qualities .traits > div {
    padding: 2rem;
    width: 30%;
}

#qualities .traits > div > p{
    line-height: 2em;
    color: #e5e4e2;
    font-size: larger;
}

/*----- Footer Styles -----*/
footer {
    background-color: #1a1a1a;
    color: var(--background-color);
    text-align: center;
    padding-top: 4em;
    padding-bottom: 3em;
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Rubik', sans-serif;
    padding-bottom: 5em;
}

.footer h3 {
    font-size: 1.3em;
}


.footer-contact {
    color: #B1AFAF;
    text-decoration: none;
}

.footer-contact:hover {
    color: var(--off-gray);
    text-decoration: none;
    transition: 1s ease;
}

.footer p {
    padding-top: 1em;
    font-size: 1.2em;   
}

footer .icons {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
}

footer .icons a{
    color: #B1AFAF;
    padding: 0 1rem;
}

footer .icons a:hover{
    transform: translateY(-10%);
    transition: 70ms linear;
    color: #1e7b1e;
}


/*----- Mobile Styles -----*/
@media only screen and (max-width: 768px) {
    /*
    #landing {
        background-color: #000000;
        background-image: linear-gradient(147deg, #000000 0%, #2c3e50 74%);
        padding: 10rem 10rem;
        height: 650px;
        font-family: 'Newsreader', serif;
        font-family: 'Open Sans', sans-serif;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 100%;
    }
    */

    #landing {
        padding-bottom: 2rem;
        margin-top: 3rem;
    }

    .carousel-caption {
       background-color: none;
       height: 80%;
       width: 70%;
    }

    .carousel-inner img {
        width: 100%;
        height: 450px;
    }

    .carousel-caption h1 {
        font-size: 1.5rem !important;
        max-width: 100%;
    }

    .carousel-caption p {
        font-size: .9rem !important;
        max-width: 100%;
    }

    .caption {
        max-height: 100%;
    }

    #landing .contact {
        background-color: #1e7b1e;
        color: var(--background-color);
        padding: 10px;
        margin: 1rem 0;
        font-size: .9rem;
    }
    
    #landing .contact:hover {
        text-decoration: none;
        background-color: #1e7b1e;
        color: var(--background-color);
    }

    .reviews h1 {
        font-size: 1.5rem;
    }
    
    #satisfied-customers {
        display: flex;
        padding: 1rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 3rem;
        width: 100%;
        max-width: 100%;
    }

    #satisfied-customers .my-card {
        width: 100%;
        margin: 1rem 0;
    }

    #landing .company-logo {
        display: none;
    }


    .projects {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(8, 5vw);
        grid-gap: 1rem;
        margin: .9rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    
    .gallery__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .gallery__item--1 {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 2;
        grid-row-end: 3;
        box-shadow: 0px 8px 12px rgba(0,0,0,0.35);
      }
    
    .gallery__item--2 {
        grid-column-start: 5;
        grid-column-end: 9;
        grid-row-start: 1;
        grid-row-end: 6;
        box-shadow: 0px 8px 12px rgba(0,0,0,0.35);
    }
    
    .gallery__item--3 {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 6;
        box-shadow: 0px 8px 12px rgba(0,0,0,0.35);
    }
    
    .gallery__item--4 {
        grid-column-start: 1;
        grid-column-end: 9;
        grid-row-start: 6;
        grid-row-end: 9;
        box-shadow: 0px 8px 12px rgba(0,0,0,0.35);
    }

    .project-heading {
        display: flex;
        flex-direction: column;
        align-items: left;
        margin: .5rem 2.5rem;
    }

    .contact-form {
        width: 70vw;
        margin: 0 auto;
        padding: 4em 0;
        font-size: 15px;
        opacity: .9;
    }

    .content h2 {
        color: var(--background-color);
        text-align: left;
        text-transform: uppercase;
        padding-top: 3rem;
        padding-left: 2rem;
    }

    .contact-form h2:before, .contact-form h2:after {
        content: "";
        height: 2px;
        width: 12%;
        background: var(--green);
        position: absolute;
        top: 50%;
        z-index: 2;
    }

    #profile {
        background-color: var(--section-background);
        max-width: 100%;
        width: 100%;
        margin-top: 0;
    }

    #profile h1 {
        font-size: 1.8rem;
        color: var(--background-color);
        padding: 2rem 1rem;
        margin-top: -4rem;
        width: 100%;
    }

    #profile .portfolio {
        max-width: 100%;
        width: 100%;
        height: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #000000;
        background-image: linear-gradient(147deg, #000000 0%, #2c3e50 74%);
        padding: 1rem;
        color: var(--background-color);
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    }

    #profile .portfolio img {
        width: 225px;
        height: 225px;
        margin-left: 1.7rem;
        margin: 1rem 1rem;
        border-radius: 50%;
        box-shadow: 0px 8px 12px rgba(0,0,0,0.35);
    }

    #qualities .traits {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5rem 0;
        flex-shrink: 1;
    }

    #qualities .traits > div {
        padding: 2rem;
        width: 80%;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px)
and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 40/71) and (orientation:portrait){
    
    .carousel-caption h1 {
        padding-bottom: .5rem;
        font-family: 'Open Sans', sans-serif;
        font-family: 'Rubik', sans-serif;
    }
    
    .carousel-caption p {
        padding-bottom: .3rem;
        font-size: large;
        color: #B1AFAF;
    }

    #profile .portfolio img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        box-shadow: 0px 8px 12px rgba(0,0,0,0.35);
    }

    .footer h3 {
        font-size: .9em;
    }
}