:root {
    --primary-color: #6699CC;
    --text-color: #36454f;
    --background-color: #f5faff;
}

body {
    padding: 0;
    margin: 0;
    background-color: #bfc1c2;
    max-width: 100%;
}

main {
    max-width: 100%;
    width: 100%;
}

.carousel-inner img {
    width: 100%;
    height: 650px;
}

.carousel-caption {
    top: 50%;
    transform: translateY(-50%);
    padding-top: 5%;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d; 
    font-family: 'Newsreader', serif;
    font-family: 'Open Sans', sans-serif;   
}

.carousel-caption h1 {
    padding-bottom: 2rem;
}

.navbar a {
    color: var(--background-color) !important;
    font-size: larger;
    padding: 2rem 0rem;
    margin-right: .5rem;
}

.navbar a:hover {
    transform: translateY(-7%);
    transition: 70ms linear;
}

.navbar {
    background-color: #000000;
    background-image: linear-gradient(147deg, #000000 0%, #2c3e50 74%);
    font-family: 'Newsreader', serif;
    font-family: 'Open Sans', sans-serif;
}

#landing {
    padding-bottom: 2rem;
    margin-top: 6rem;
}


#landing h1 {
    color: var(--background-color);
    font-weight: 500;
    font-size: 3.1rem;
}

#landing .contact {
    background-color: #1e7b1e;
    color: var(--background-color);
    padding: 10px;
    margin: 1rem 0;
}

#landing .contact:hover {
    text-decoration: none;
    background-color: #1e7b1e;
    color: var(--background-color);
}

#landing .company-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10rem;
    transform: translateY(20%);
}

#landing .company-logo {
    transform: translateY(10%);
}

#landing .company-logo img{
    width: 200px; 
    height: 200px; 
    margin-bottom: 10rem;
}

#satisfied-customers {
    padding: 2rem;
    display: flex;
    flex-wrap: row wrap;
    justify-content: space-around;
    padding-bottom: 2rem;
}


#satisfied-customers .my-card {
    background-color: #000000;
    background-image: linear-gradient(147deg, #000000 0%, #2c3e50 74%);
    padding: 2rem;
    color: var(--background-color);
    margin: 0 1rem;
    width: calc(33% - 10px);
    box-shadow: 0px 8px 12px rgba(0,0,0,0.35);
}

#satisfied-customers .fa-star, #satisfied-customers .fa-star-half-o, #satisfied-customers .fa-star-o{
    color: yellow;
}

.customer-name{
    color: #bfc1c2;
}

/*----- Mobile Styles -----*/
@media only screen and (max-width: 768px) {
    /*
    #landing {
        background-color: #000000;
        background-image: linear-gradient(147deg, #000000 0%, #2c3e50 74%);
        padding: 10rem 10rem;
        height: 650px;
        font-family: 'Newsreader', serif;
        font-family: 'Open Sans', sans-serif;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 100%;
    }
    */

    .navbar a {

    }
    #landing {
        padding-bottom: 2rem;
        margin-top: 3rem;
    }

    .carousel-inner img {
        width: 100%;
        height: 450px;
    }

    .carousel-caption h1 {
        font-size: 2rem !important;
    }
    
    #satisfied-customers {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 3rem;
        width: 100%;
        max-width: 100%;
    }

    #satisfied-customers .my-card {
        width: 100%;
        margin: 1rem 0;
    }

    #landing .company-logo {
        display: none;
    }
}